<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url_shortener</title>

    <style>
        .main-div{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        table, th, td {
  border: 1px solid black;
}
    </style>
</head>
<body>
        
    <div class="main-div">
        <h1>URL Shortener</h1><br>
        <form action="/url" method="post">
            <label>Enter URL:</label>
            <input type="text" name="url" placeholder= "http://www.example.com" >
            <button type="submit">Generate</button>
           <% if (locals.id) { %>
                <p>Your generated id is: <%= id %></p>
           <% } %>
           <% if (locals.data) { %>
                <table>
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>RedirectURL</th>
                            <th>ShortId</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(element => { %>
                         <tr>
                            <th><%= element.id %></th>
                            <th><%= element.redirectURL %></th>
                            <th><%= element.shortId %></th>
                         </tr>
                        <% }) %>
                    </tbody>

                </table>

           <% } %>
        </form>
    </div>


</body>
</html>